 html,
 body {
   background-image: url('/src/images/luxury.png');
   height: 100%;
   margin: 0;
   width: 100%;
   font-family: 'Courier New', Courier, monospace;
 }

 .booking-grid {
   display: flex;
   flex-wrap: wrap;
   opacity: 0.8;
 }

 .bookings {
   width: 20%;
   background-color: aliceblue;
   opacity: 0.7;
   border: 15px;
   color: black;
 }

 form {
   display: flex;
   flex-direction: row;
   flex-direction: var(150px);
 }

 .welcome-message {
   display: flex;
   justify-items: center;
   font-family: fantasy;
   background-color: rgb(122, 69, 25);
   height: 50px;
   right: 20%;
   opacity: 0.8;
   color: black;
   flex-direction: row;
   width: 20%;
 }

 #title {
   position: relative;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 20%;
   background-color: rgb(156, 149, 171);
   color: black;
 }

 #roomTypeDropDown {
   position: absolute;
   width: 20%;
   border: 20px;
   border-color: blue;
   background-color: rgba(239, 236, 244, 0.947);
   border: 15px;
   color: black;
   right: 80px;
   top: 20%;
 }

 .total-rooms-cost {
   background-color: aliceblue;
   width: 20%;
 }

 .hidden {
   visibility: hidden;
 }

 #searchRooms {
   position: absolute;
   width: 5%;
   height: 20px;
   top: 19.75%;
   left: 70%;
 }

 #currentBookings {
   position: relative;
 }

 #filteredRooms {
   margin: 0;
   background-color: aliceblue;
   opacity: 0.7;
   width: 288px;
 }

 #show-bookings {
   position: absolute;
   left: 40%;
   top: 100px;
   margin: 0;
 }

 #bookingsMessage {
   position: absolute;
   left: -1px;
   top: -5px;
   background-color: aqua;
   width: 290px;

 }

 #showRooms {
   position: absolute;
   font-size: 20px;
   background-color: white;
   top: 40%;
   width: 30%;
   left: 70%;
   opacity: 0.7;
 }