 html,
 body {
   background-image: url('/src/images/luxury.png');
   height: 100%;
   margin: 0;
   width: 100%;
   font-family: 'Courier New', Courier, monospace;
 }

 /* .total-rooms-cost {
   display: none;
 } */

 .booking-grid {
   display: flex;
   flex-wrap: wrap;
   opacity: 0.8;
 }

 .bookings {
   width: 20%;
   background-color: aliceblue;
   opacity: 0.7;
   border: 15px;
   color: black;
 }

 form {
   display: flex;
   flex-direction: row;
   flex-direction: var(150px);
 }

 h2 {
   position: absolute;
   font-family: fantasy;
   background-color: rgb(232, 219, 208);
   height: 50px;
   right: 50%;
   opacity: 0.8;
   width: 20%;
   top: 1%;
   font-size: 40px;
 }

 #title {
   position: inherit;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 20%;
   background-color: rgb(90, 43, 5);
   color: black;
 }

 #roomTypeDropDown {
   position: absolute;
   width: 20%;
   border: 20px;
   background-color: rgba(239, 236, 244, 0.947);
   border: 15px;
   color: black;
   right: 120px;
   top: 20%;
 }

 .total-rooms-cost {
   background-color: aliceblue;
   width: 20%;
 }

 .hidden {
   visibility: hidden;
 }

 #searchRooms {
   position: absolute;
   width: 5%;
   height: 20px;
   top: 19.75%;
   left: 91%;
 }

 #currentBookings {
   position: relative;
 }

 #filteredRooms {
   margin: 0;
   background-color: aliceblue;
   opacity: 0.7;
   width: 288px;
 }

 #show-bookings {
   position: absolute;
   left: 40%;
   top: 100px;
   margin: 0;
 }

 #bookingsMessage {
   position: absolute;
   left: -1px;
   top: -5px;
   background-color: rgb(170, 103, 37);
   width: 290px;

 }

 #showRooms {
   position: absolute;
   font-size: 20px;
   background-color: white;
   top: 40%;
   width: 30%;
   left: 70%;
   opacity: 0.7;
 }

 .login-text {
   background-color: rgba(185, 99, 19, 0.345);
   background-image: unset
 }

 #password {
   position: relative;
   height: 30px;
   width: 20%;
 }

 #userNameInput {
   position: relative;
   width: 20%;
   height: 30px;
 }

 #loginFormSubmit {
   position: relative;
   height: 30px;
   width: 15%;
 }

 #mainLoginHolder {
   position: absolute;
   top: 9px;
 }

 #birthday {
   position: absolute;
   top: 10%;
   display: none;
   background-color: antiquewhite;
 }

 #booking-search {
   position: absolute;
   top: 10%;
   left: 10%;
   background-color: beige;
 }